script(type="text/javascript", src="/javascripts/stories/edit.js")
script(type="text/javascript")
	$(document).ready(function(){ 
		$("#story").submit( function() { 
			Flash( "Updating..." );
			PutForm( "/story/#{story._id}", "#story", function(res){ 
				Flash( "Update Successful!" );
			} ); // end PutForm
			return false;
		} ); // end story.submit
		
		$("#addppl").click( function() { 
			Flash( "Sorry, feature not implemented yet... " );
		} ); // end click
	} ); // end document.ready

include partials/toolbar.jade
.container
	.row
		.span12(style="margin-top : 2em;")
			h1.centered 
				a(href="/story/#{story._id}")
					#{story.title} 
			h3.centered by: 
				a(href="/user/#{story.owner}?usertab=novel")
					-if (story.owner_name == undefined)
						#{story.owner}
					-else
						#{story.owner_name}
	.row 
		.span6
			.meta-story
				h2 Story Basics
				form#story( action="/story/#{story._id}/edit", method="PUT" )
					ul.newstory
						li.newstory 
							h4 Title
							input#title(name="story[title]", type="text", value="#{story.title}")
						li.newstory 
							h4 Category
							- if (story.category == "Original")
								input#catff.radio.btn(type="radio", name="story[category]", value="0")
							- else
								input#catff.radio.btn(type="radio", name="story[category]", value="0", checked="checked")
							text Fan-Fiction
							br
							- if (story.category == "Original")
								input#cato.radio.btn(type="radio", name="story[category]", value="1", checked="checked")
							- else
								input#cato.radio.btn(type="radio", name="story[category]", value="1")
							text Original
						li.newstory 
							h4 Parent Work (if fan-fiction)
							input#parentwork(name="story[parent]", type="text", value="#{story.category}")
						li.newstory 
							h4 Cover Page (please host your images elsewhere for now)
						li.newstory 
							img( alt="cover page image", src="#{story.cover}", style="width : 150px; height : 150px" )
						li.newstory 
							input#cover(name="story[cover]", type="text", value="#{story.cover}")
						li.newstory
							h4 Summary
						li.newstory
							textarea#summary(name="story[summary]", type="text", rows="5", cols="40") #{story.summary}
						li.newstory
							input.btn.btn-primary.large(type="submit", value="Modify") 
		.span6
			.meta-story
				h2 Collaborators
				p
					input#ppl(type="text")
				p
					button#addppl.btn.btn-primary Add Collaborator
				ul
					- for (var k in story.collaborators.length)
						li= story.collaborators[k]
					
		#chapter-tree
		
