script(type="text/javascript", src="/javascripts/pages/index.js")
style(type="text/css")
	.splash-laptop{ 
		background-image : url('#{laptop}');
		background-size : 100% 100%;
		width : 35%;
		height : 80%;
		margin-left : 30%;
		margin-top : 5%;
	}
	
.hiddencontent	
	input#hiddenheader.hiddencontent(type="text", value="#{header}")
	input#hiddenreferer.hiddencontent(type="text", value="#{referer}")
.cover1.backdrop
	.centertext
			h1 Visual Novels on the Cloud
				h5.centered Where imagination meets everything else
	.splash-laptop
	.right-hand
		.splash-righthand		
		.splash-waveright.waveright-a
		.splash-waveright.waveright-b
		.splash-waveright.waveright-c
	.left-hand
		.splash-lefthand		
		.splash-waveleft.waveleft-a
		.splash-waveleft.waveleft-b
		.splash-waveleft.waveleft-c
	
.stacks.bumpedown
	#signupbox-top
		ul.signup
			form#signup2( action="/user", method="post")
				hidden#referer2.hiddencountent(type="text", value="#{referer}", name="user[referer]")
				li.signup
					input#name2.signup(type="text", placeholder="Name...", name="user[name]")
					input#email2.signup(type="text", placeholder="Email...", name="user[email]")
				li.signup
					input#password2.signup(type="password", placeholder="Password...", name="user[password]")
					input#submit2.btn.btn-primary.btn-large.obtrusive(type="submit", value="Request Invite")
.container
	.row
		.span12.centered
			h2 Share your fantasy fiction world.
			h2 But building a VN is a lot of work.
			h1.examples There is... character art, planning, backgrounds,
			h2.examples audio, BGM, coloring, CGs,
			h3.examples coordination, monetization, story,
			h4.examples distribution, platform-issues, feedback
			h6.examples QC, editing, translation...
	.row
		br
		.span12.centered
			h1 On FFOpenVN, things are easier.
				.arrow1( style="float : right;" )
		.span6.centered
			ul.introduction
				li.introduction
					.checkmark
					h4 Immediate feedback
					p Who is everyone's favorite character? What do the readers think? FFOpenVN keeps track for you all your readers and their feedback.
				li.introduction
					.checkmark
					h4 Easy money
					p FFOpenVN gives you the option of designating shoppable areas so you can sell real stuff through your VNs and make money doing it.
				li.introduction
					.checkmark
					h4 It's still yours
					p It's your story and it always will be. FFOpenVN will drive readers to you, but we don't claim to own what belongs to you.
		.span6.centered
			ul.introduction
				li.introduction
					.checkmark
					h4 Open-transparency artwork
					p Like open-source for code. On FFOpenVN, If you see artwork you like, fork it and use it in your own novel. Credits and attribution is taken care of by us.
				li.introduction
					.checkmark	
					h4 No programming required
					p FFOpenVN takes care of the low level coding so you don't have to (unless you really want to).
				li.introduction
					.checkmark
					h4 Universally accessible
					p Access FFOpenVN through your phone, at work, or through API!
	.row
		.arrow2(style="position : absolute; top : 1250px; left : 200px;")
		.arrow1(style="position : absolute; top : 1500px; left : 650px;")
		.arrow3(style="position : absolute; top : 1725px; left : 650px;")
		.divider.centered
		.span12.centered
			h1 Forked works on FFOpenVN
			br
		.span3
			.icon2
		.span2
			.icon3
		.span2
			.icon4
		.span2
			.icon6
		.span3
			.icon8		
	.row
		.divider.centered
		.span6.highlightbox
			h1 Join beta
			h2  Early accounts get...
			ul
				li 
					h3 Significantly more content storage room
				li 
					h3 Extra private VNs
				li 
					h3 Other benefits
		.span5.highlightbox
			#signupbox-bottom
				ul.signup(style="margin-left: -1em; margin-top: 0.5em;")
					form#signup3( action="/user", method="post" )
						hidden#referer2.hiddencountent(type="text", value="#{referer}", name="user[referer]")
						li.signup
							input#name3.signup(type="text", placeholder="Name...", name="user[name]")
						li.signup
							input#email3.signup(type="text", placeholder="Email...", name="user[email]")
						li.signup
							input#password.signup(type="password", placeholder="Password...", name="user[password]")
						li.signup(style="margin-top: 1em;")
							input#submit3.btn.btn-primary.btn-large.obtrusive(type="submit", value="Request Invite")
